<a href="https://colab.research.google.com/github/maincarey/ML/blob/master/Decisiontree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv("/content/sample_data/salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [0]:
# this is target variable
inputs = df.drop('salary_more_then_100k',axis='columns')

In [0]:

target = df['salary_more_then_100k']

In [0]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [0]:
# get rid of text for columns company job and degree need to create numbers for values
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [0]:
# create extra columns by using fit and transform
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [0]:
# drop the text columns hold in inputs_n
inputs_n = inputs.drop(['company','job','degree'],axis='columns')

In [0]:
# google is 2   abc phara 0 fb 1   - you can see this from raw data cause it in the same order
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [0]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [0]:
# inputs_n area criteria and target is salary_more_then_100k
# in the classifier you can change the below - criterion can = entrophy instead gini
# DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
         #              max_features=None, max_leaf_nodes=None,
          #             min_impurity_decrease=0.0, min_impurity_split=None,
           #            min_samples_leaf=1, min_samples_split=2,
            #           min_weight_fraction_leaf=0.0, presort=False,
             #          random_state=None, splitter='best')

model.fit(inputs_n, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [0]:
model.score(inputs_n,target)

1.0

In [0]:
# go to matrix above where you concat the fields with text and numbers to find array values

Is salary of Google, Computer Engineer, Bachelors degree > 100 k ?
model.predict([[2,1,0]])

array([0])